<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="wod">
        <h2 class="text-danger">Today's Workout: {{wod.name}}</h2>
        <div [innerHtml]="workout"></div>
      </div>
      <div class="col-md-12" *ngIf="!wod && loading">
        <h2 class="text-danger">Today's Workout:</h2>
        Loading workout...
      </div>
      <div class="col-md-12" *ngIf="!wod && error">
        <h2 class="text-danger">Today's Workout:</h2>
        Error loading workout...
      </div>
    </div>
  </div>
</div>
