<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-right" *authorize="['affiliates']"> <!-- *authorize="['affiliates']" -->
                <button class="btn btn-success" title="Add Terminal" (click)="alert('Add')">
                    <i class="material-icons">add</i>
                    Add Affiliate
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">business</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Affiliates</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Street Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Postal Code</th>
                                    <th>Phone</th>
                                    <th class="text-right" *authorize="['affiliates']">&nbsp;</th><!-- *authorize="['affiliates']" -->
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let aff of affiliates">
                                    <td>{{aff.name}}</td>
                                    <td>{{buildStreetAddress(aff.address)}}</td>
                                    <td>{{aff.address.city}}</td>
                                    <td>{{aff.address.state}}</td>
                                    <td>{{aff.address.postalCode}}</td>
                                    <td>{{aff.phoneNumber}}</td>
                                    <td class="td-actions text-right" *authorize="['affiliates']"><!-- *authorize="['affiliates']" -->
                                        <button type="button" rel="tooltip" class="btn btn-default btn-simple"
                                                (click)="onEditTerminal(aff)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" class="btn btn-danger btn-simple"
                                                (click)="onDelete(aff)">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
