<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-danger">Today's Workout: {{wod.name}}</h2>
                <div [innerHtml]="workout"></div>
            </div>
        </div>
    </div>
</div>