<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">

        </nav>
        <p class="copyright pull-right">
            &copy;{{now | date: 'yyyy'}}
            Amraps LLC. All Rights Reserved
        </p>
    </div>
</footer>
