﻿<mat-sidenav-container class="wrapper">
  <mat-sidenav class="sidebar" mode="side" opened data-active-color="red" data-background-color="black">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


