@using Amraps.Portal.Views.Shared
@{
    ViewData["Title"] = "Home Page";
}

@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@

<app>Loading...</app>
@(await Component.InvokeAsync<AppSettingsViewComponent>())

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
